In [1]:
print('Hello World')

Hello World

## Что такое

###### что такое

In [3]:
import time
time.sleep(3)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('fortune500.csv')

In [3]:
df.head()

   Year  Rank           Company  Revenue (in millions) Profit (in millions)
0  1955     1    General Motors                 9823.5                  806
1  1955     2       Exxon Mobil                 5661.4                584.8
2  1955     3        U.S. Steel                 3250.4                195.4
3  1955     4  General Electric                 2959.1                212.6
4  1955     5            Esmark                 2510.8                 19.1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25500 entries, 0 to 25499
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year                   25500 non-null  int64
 1   Rank                   25500 non-null  int64
 2   Company                25500 non-null  object
 3   Revenue (in millions)  25500 non-null  float64
 4   Profit (in millions)   25500 non-null  object
dtypes: float64(1), int64(2), object(2)
memory usage: 996.2+ KB

In [9]:
non_numberic_profits = df['Profit (in millions)'].str.contains('[^0-9.-]')
print(non_numberic_profits)
#df.loc[non_numberic_profits].head()

0        False
1        False
2        False
3        False
4        False
         ...
25495    False
25496    False
25497    False
25498    False
25499    False
Name: Profit (in millions), Length: 25500, dtype: bool